Package: com.jackrex.TestFakeTweak
Name: test
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Your Name
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

